<!-- This web page displays the floor plan of any buliding selected during campus map page -->

{% extends "jinjatemplate.html" %}

{% block title %}Wicount | Floorplan{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script type="text/javascript" src="{{url_for('static',filename='jQuery-Plugin-For-Highlighting-Image-Map/jquery.maphilight.js')}}"></script>
	<script type="text/javascript">$(function() {$('.floorPlan').maphilight({fade: false}); });</script>
{% endblock %}

{% block body %}
    <table>
    <tr>
    	<td><h1>CSI Building</h1></td>
        <td>
    		<img class="floorPlan" src="{{url_for('static',filename='level0map.jpg')}}" alt="CSI Level 0" usemap="#groundFloor">
			<map name="groundFloor">
        		<area shape="poly" coords="333,148,404,148,405,229,335,229" href="{{url_for('statsForRoom',room_id=1)}}" alt="B002">
        		<area shape="poly" coords="404,148,479,147,479,230,405,229" href="{{url_for('statsForRoom',room_id=2)}}" alt="B003">
        		<area shape="poly" coords="479,147,585,145,580,230,479,230" href="{{url_for('statsForRoom',room_id=3)}}" alt="B004">
    		</map> <br>
     		<img class="floorPlan" src="{{url_for('static',filename='level1map.jpg')}}" alt="CSI Level 0" usemap="#firstFloor">
    		<map name="firstFloor">
        		<area shape="poly" coords="263,120,334,120,334,171,325,172,325,177,264,177" href="{{url_for('statsForRoom',room_id=4)}}" alt="B108">
        		<area shape="poly" coords="334,120,422,120,423,177,344,177,344,171,335,171" href="{{url_for('statsForRoom',room_id=5)}}" alt="B107">
        		<area shape="poly" coords="423,120,504,120,504,105,542,105,534,229,423,230" href="{{url_for('statsForRoom',room_id=6)}}" alt="B106">
    		</map>
    	</td>
     </tr>
</table>   
{% endblock %}
