<!-- Page to display after logging out -->

{% extends "nomenutemplate.html" %}

{% block title %}Wicount | Logged out{% endblock %}

{% block body %}  
	{% if session['logged_in'] %}
		<p>You're logged in already!</p>
	{% else %}
	<div class="formStyle">
		<img class="logoForm" src="{{url_for('static',filename='count2.png')}}" alt="count"/><br>
		<strong><p>You have been logged out</p></strong>
		<strong><a href="/">Click here to login again</a></strong>
	</div>	
	{% endif %}
{% endblock %}
	
	
	
	
	
	
	
	
	
	
  

