<!-- General jinja2 template for web pages that do not have form data. -->

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% block scripts %}{% endblock %}
	<link rel=stylesheet type=text/css href="{{url_for('static',filename='wicount.css')}}">
</head>

<body>
	<header class="header">
    <nav>
        <ul>
            <li><a href="{{url_for('signup')}}">Sign Up</a></li>
            {% block menu %} {% endblock %}   
        </ul>
    </nav>
    <img class="logoHeader" src="{{url_for('static',filename='longlogo.png')}}" alt="logo"/>
	</header>
	{% block body %}{% endblock %}
	<footer>
    	<p class="footer">WiCount | Brendan Dwyer | Rakesh Lakshman | Velda Conaty | Patrick Harney</p>
	</footer>
</body>
</html>