<!-- This page creates user. This is used whenever admin wants to create an user, set the password and role. -->

{% extends "formtemplate.html" %}

{% block title %}Wicount | Add User{% endblock %}

{% block action %} action="" method="post" role="form" {% endblock %}

{% block form %}
	<table align="center">
	<tr>
		<td class="dispalyLeft"><label>Username &nbsp;&nbsp;&nbsp;</label></td>
		<td class="dispalyRight"><input type="text" id="name" name="name" placeholder="Enter your Username"></td>
	</tr>
	<tr>
		<td class="dispalyLeft"><label>Email &nbsp;&nbsp;&nbsp;</label></td>
    	<td class="dispalyRight"><input type="text" id="email" name="email" placeholder="Email address"></td>
    </tr>
    <tr>
    	<td class="dispalyLeft"><label>Password &nbsp;&nbsp;&nbsp;</label></td>
    	<td class="dispalyRight"><input type="password" id="password" name="password" placeholder="Set user's password"></td>
    </tr>
    <tr>
    	<td class="dispalyLeft"><label>Role &nbsp;&nbsp;&nbsp;</label></td>
    	<td><select id="role" name="role">
			<option value="lecturer">Academic Staff</option>
        	<option value="admin">Administrator</option>
        	<option value="enduser">General Users</option>
 		</select>
 		</td>
 	</tr>
 	</table><br>
	<button type="submit" class="submitButton">Register</button><br>
	
	<!-- To display the error messages -->
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for message in messages %}
            	{% if "Error" in message[1]: %}
	                <strong>
	                	{{ message[1] }}
	                </strong>
            	{% endif %}
        	{% endfor %}
		{% endif %}
	{% endwith %}
	
{% endblock %}

