<!DOCTYPE html>
<html>
<head> 
<meta charset="UTF-8">
<link rel = "stylesheet" type = "text/css" href="{{url_for('static',filename='wicount.css')}}">
<title>WiCount | App</title>    
</head>
<body>
<header class="header">
    <img class="logo" src="{{url_for('static',filename='logo.jpg')}}" alt="logo"/><br><br> 
</header>
<section class="loginform">

<form id="fileupload">
    <label for="username">Select file to upload: </label><br><br>
    <input type="file" name="fileToUpload" id="fileToUpload"><br><br>
    <input type="submit" value="Upload File" name="submit">
</form>
</section>
<footer>
<p id="footer">WiCount | Team 9 | Brendan Dwyer | Rakesh Lakshman | Velda Conaty | Patrick Harney</p>   
</footer>
</body>

</html>