<!DOCTYPE html>
<html>
<head> 
<meta charset="UTF-8">
<link rel = "stylesheet" type = "text/css" href="wicount.css">
<title>WiCount | App</title>    
</head>
<body>
<header>
    <img src="logo.jpg" alt="logo"/><br><br> 
</header>
<form action="" method="" enctype="multipart/form-data">
    Select file to upload:
    <input type="file" name="fileToUpload" id="fileToUpload"><br><br>
    <input type="submit" value="Upload File" name="submit">
</form>
</body>
<footer>   
</footer>
</html>