<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel = "stylesheet" type = "text/css" href="wicount.css">
<title>CSI Building</title>
<!--http://www.jqueryscript.net/other/Simple-jQuery-Plugin-For-Highlighting-Image-Map-Maphilight.html-->
<!--    got help here  -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='jQuery-Plugin-For-Highlighting-Image-Map/jquery.maphilight.js')}}"></script>
    <script type="text/javascript">$(function() {
		$('.map').maphilight({fade: false});
	});</script>
</head>
<body>
<header class="header">
    <img class="logo" src="{{url_for('static',filename='logo.jpg')}}" alt="logo"/><br><br> 
</header>

<h1>CSI Building</h1>
<h3> Level 0</h3>
<img src="{{url_for('static',filename='level0Map.jpg')}}" width="1000" height="400"  class="map" alt="CSI Level 0" usemap="#groundFloor">

<map name="groundFloor">
    <area shape="rect" coords="556,249,677,379" href="#B002" alt="B002">
    <area shape="rect" coords="672,247,796,379" href="#B003" alt="B003">
    <area shape="rect" coords="796,244,968,379" href="#B004" alt="B004">
</map> 
    
   <h3> Level 1</h3> 
<img src="{{url_for('static',filename='level1Map.jpg')}}" width="1000" height="400"  class="map" alt="CSI Level 0" usemap="#firstFloor">

<map name="firstFloor">
    <area shape="rect" coords="444,232,553,302" href="#B108" alt="B108">
    <area shape="rect" coords="553,232,675,300" href="#B107" alt="B107">
    <area shape="rect" coords="675,232,856,359" href="#B106" alt="B106">
</map>
<!-- Display Results-->

<footer>   
</footer>
</body>
</html>