<!-- Web page to display the map and form data. 
User will be able to select the building from the map which will redirect to floor plan.
User will be able to select campus, building, room which will directly redirect to results page. -->

{% extends "jinjatemplate.html" %}

{% block title %}Wicount | Campus Map{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='jQuery-Plugin-For-Highlighting-Image-Map/jquery.maphilight.js')}}"></script>
    <script type="text/javascript">$(function() {
            $('.campusMap').maphilight({fade: false});
        });</script>
{% endblock %}        

{% block body %}
<div id="mapMargin">
    <div id="displayMap">
        <img class="campusMap" src="{{url_for('static',filename='buildingmap.jpg')}}" alt="building" usemap="#buildingmap">
        <map name="buildingmap">
            <area shape="poly" coords="304, 121, 335, 139, 300, 160, 285, 130" href="/floorplancsi" alt="building" title="CSI Building">   
        </map>
    </div>
	<div class="campusFormData" >
	<form action="statsforroom" method="get">
		<label>Campus &nbsp;</label><br>
    		<select id="campus" name="campus" onchange="BuildingDDL()">
    		</select><br><br>
    	<label>Building &nbsp;</label><br>
    		<select id="building" name="building" onchange="roomDDL()">
    		</select><br><br>
    	<label>Room &nbsp;</label><br>
    		<select id="room_id" name="room_id">
    		</select><br><br>
    	<input type="submit" class="submitButton" value="Submit">
    </form>
	</div>
</div>

<!-- Tooltip functionality - to display the tooltip when mouse is hovered around a map -->
<script type="text/javascript">
jQuery(document).ready(function (e) {
    jQuery('area').qtip({
        style: {
            classes: 'qtip-dark'
        },
        events: {
            show: function(event, api) {
                api.set({
                    'content.text': api.elements.target.attr('title')
                });
            }
        }
    });
});
</script>

<!-- Javascript functions to redirect to appropriate pages -->
<script type="text/javascript">
    function CampusDDL() {
        // Build up array of the campuses in the database
        var campus = []
        document.getElementById("room_id").style.visibility= 'hidden';
        document.getElementById("building").style.visibility= 'hidden';
        for (var i = 0; i < CampusDetails.length; ++i) {
            campus.push(CampusDetails[i].campus);     // Append the element to the end of Array list
        }
        // get just the unique values from the array.
        var uniqueCampuses = campus.filter(function(item, i, ar){ return ar.indexOf(item) === i; });
        // add the campuses to the drop down list
        var dropdown = document.getElementById("campus");
        for (var i = 0; i < uniqueCampuses.length; ++i) {
            dropdown[dropdown.length] = new Option(uniqueCampuses[i], uniqueCampuses[i]);
        }
        BuildingDDL();
        document.getElementById("building").style.visibility= 'visible';   
    }

    /* Function to populate dropdown based on the value of other dropdown */
    function BuildingDDL() {
        document.getElementById("room_id").style.visibility= 'hidden';
        campus=document.getElementById("campus").value;
        // Build up array of the building in the campus in the database
        var building = []
        for (var i = 0; i < CampusDetails.length; ++i) {
            if (CampusDetails[i].campus == campus)
                building.push(CampusDetails[i].building);     // Append the element to the end of Array list
        }
        // get just the unque values from the array.
        var uniquebuildings = building.filter(function(item, i, ar){ return ar.indexOf(item) === i; });
        // add the campuses to the drop down list
        var dropdown = document.getElementById("building");
        for(var i = dropdown.options.length - 1 ; i >= 0 ; i--){
            dropdown.remove(i);
        } //clear out the drop down box
        for (var i = 0; i < uniquebuildings.length; ++i) {
            dropdown[dropdown.length] = new Option(uniquebuildings[i], uniquebuildings[i]);
        }
        document.getElementById("building").style.visibility= 'visible';
        roomDDL();
    }
    
    function roomDDL() {
        building=document.getElementById("building").value;
        // Build up array of the building in the campus in the database
        var rooms = []
        var ids = []
        for (var i = 0; i < CampusDetails.length; ++i) {
             if (CampusDetails[i].building == building){
             rooms.push(CampusDetails[i].room);     // Append the element to the end of Array list
             ids.push(CampusDetails[i].room_id);     // Append the element to the end of Array list
            }
        }
        // add the campuses to the drop down list
        var dropdown = document.getElementById("room_id");
        for(var i = dropdown.options.length - 1 ; i >= 0 ; i--){
            dropdown.remove(i);
        } //clear out the drop down box
        for (var i = 0; i < rooms.length; ++i) {
            dropdown[dropdown.length] = new Option(rooms[i], ids[i]);
        }
        document.getElementById("room_id").style.visibility= 'visible';
    }
    var CampusDetails = {{CampusDetails|tojson}};
    CampusDetails = JSON.parse(CampusDetails);
    console.log(CampusDetails);
    window.onload = CampusDDL();
</script>

{% endblock %}
	
