{% extends "jinjatemplate.html" %}

{% block title %}Wicount | Campus Map{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script type="text/javascript" src="{{url_for('static',filename='jQuery-Plugin-For-Highlighting-Image-Map/jquery.maphilight.js')}}"></script>
        <script type="text/javascript">$(function() {
            $('.buildingplan').maphilight({fade: false});
        });</script>
{% endblock %}
        

{% block body %}
<div id="mapmargin">
    <img class="buildingplan" src="{{url_for('static',filename='buildingmap.jpg')}}" alt="building" usemap="#buildingmap">
    <map name="buildingmap">
        <area shape="poly" coords="304, 121, 335, 139, 300, 160, 285, 130" href="/floorplancsi" alt="building">   
    </map>
	<div class="buildingplan1" >
	<form action="statsforroom" method="get">
		<label>Campus: &nbsp;</label><br>
    		<select name="campus">
    			<option value="Belfield">Belfield</option>
    		</select><br><br>
    	<label>Building: &nbsp;</label><br>
    		<select name="building">
    			<option value="CSI" >CSI</option>
    		</select><br><br>
    	<label>Room: &nbsp;</label><br>
    		<select name="room_id">
    			<option value="1">B002</option>
    			<option value="2">B003</option>
    			<option value="3">B004</option>
    			<option value="4">B106</option>
    			<option value="5">B108</option>
    			<option value="6">B109</option>
    		</select><br><br>
    	<button type="submit" class="lectBtn">Submit</button>
    </form>
	</div>
</div>
{% endblock %}
	
