<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static',filename='wicount.css')}}">
	<meta charset="UTF-8">
	<title>Logged Out</title>
</head>
<body>
	<div class=page>
	<header class="header">
    	<img class="logo" src="{{url_for('static',filename='longLogo.png')}}" alt="logo"/>
	</header> 
	{% block body %}  
	{% if session['logged_in'] %}
		<p>You're logged in already!</p>
	{% else %}
	<div class="LecturerApp">
		<strong>Thank you for registration. Email and Password has been sent to the user</strong><br><br>
		<strong><a href="/">Click here to login</a></strong>
	</div>	
	{% endif %}
	{% endblock %}
	<footer>
    	<p id="footer">WiCount | Team 9 | Brendan Dwyer | Rakesh Lakshman | Velda Conaty | Patrick Harney</p>
	</footer>
	</div>
</body>
</html> 