{% extends "nomenutemplate.html" %}

{% block title %}Wicount | Registration Success{% endblock %}
	
{% block body %}  
	{% if session['logged_in'] %}
		<p>You're logged in already!</p>
	{% else %}
	<div class="LecturerApp">
		<img class="count" src="{{url_for('static',filename='count2.png')}}" alt="count"/><br>
		<strong>Thank you for registration. Email and Password has been sent to the user</strong><br><br>
		<strong><a href="/">Click here to login</a></strong>
	</div>	
	{% endif %}
{% endblock %} 