<!DOCTYPE html>
<html>
<head> 
<meta charset="UTF-8">
<link rel = "stylesheet" type = "text/css" href="wicount.css">
<title>WiCount | App</title>    
</head>   
       
<body>
<header>
    <img src="logo.jpg" alt="logo"/><br><br> 
</header>
<form>
    Click on the building:<br>
    <img src="example1.jpg" alt="Buliding Map"/><br><br>
    
    Select the day:<br>
    <select name="day">
    <option value="mon">Monday</option>
    <option value="tue">Tuesday</option>
    <option value="wed">Wednesday</option>
    <option value="thu">Thursday</option>
    <option value="thu">Friday</option>
    </select><br><br>
    
    Select the time:<br>
    <select name="time">
    <option value="nine">9</option>
    <option value="ten">10</option>
    <option value="eleven">11</option>
    <option value="twelve">12</option>
    <option value="one">1</option>
    <option value="two">2</option>
    <option value="three">3</option>
    <option value="four">4</option>
    <option value="five">5</option>
    </select><br><br>
    
    <input type="submit" value="Submit">
</form> 
</body>    
<footer>   
</footer>  
</html>