{% extends "formtemplate.html" %}

{% block title %}Wicount | File Upload{% endblock %}

{% block action %} action="upload" method="post" enctype="multipart/form-data" {% endblock %}

{% block form %}
	<table align="center">
	<tr>
		<td class="dispalyLeft"><label>Survey &nbsp;&nbsp;&nbsp;</label></td>
        <td class="dispalyRight"><input type="file" multiple="" name="survey"/></td>
    </tr>
    <tr>
    	<td class="dispalyLeft"><label>Time Table &nbsp;&nbsp;&nbsp;</label></td>
        <td class="dispalyRight"><input type="file" multiple="" name="timetable"/></td>
	</tr>
	<tr>
		<td class="dispalyLeft"><label>Log Data &nbsp;&nbsp;&nbsp;</label></td>
        <td class="dispalyRight"><input type="file" multiple="" name="log"/></td>
    </tr>
    </table><br><br>
    <input type="submit" value="Submit" class="submitButton"><br><br>
	
	{% with messages = get_flashed_messages() %}
        {% if messages %}
        	{% for message in messages %}
               	<strong>{{ message }}</strong>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}