<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

</body>
</html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css href="{{url_for('static',filename='wicountVelda.css')}}">
<div class=page>
    <header class="header">
        <nav>
        <ul>
            <li><a href="#">Map</a></li>
            <li><a href="#">Statistics</a></li>
            <li><a href="lecturerApp.html">Lecturer</a></li>
            <li><a href="#">Admin</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
    <img class="logo" src="{{url_for('static',filename='longLogo.png')}}" alt="logo"/>
</header>
  {% block body %}{% endblock %}
    <footer>
    <p id="footer">WiCount | Team 9 | Brendan Dwyer | Rakesh Lakshman | Velda Conaty | Patrick Harney</p>
</footer>
    
</div>