<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% block scripts %}{% endblock %}
	<link rel=stylesheet type=text/css href="{{url_for('static',filename='wicount.css')}}">
</head>

<body>
    <header class="header">
    <nav>
        <ul>
        	
            <li><a href="{{url_for('campusMap')}}">Home</a></li>
            <li><a href="{{url_for('statistics')}}">Statistics</a></li>
            {% if session['role'] != "enduser" %}
                <li><a href="{{url_for('lecturerApp')}}">Lecturer</a></li>
         	{% endif %}
            {% if session['role'] == "admin" %}
                <li><a href="{{url_for('fileupload')}}">Upload</a></li>
                <li><a href="{{url_for('addUser')}}"> Add User</a></li>
            {% endif %}
            <li><a href="{{url_for('logout')}}">Logout</a></li>

        </ul>
    </nav>
    <img class="logo" src="{{url_for('static',filename='longlogo2.png')}}" alt="logo"/>
	</header>
  	{% block body %}{% endblock %}
    <footer>
    	<p id="footer">WiCount | Brendan Dwyer | Rakesh Lakshman | Velda Conaty | Patrick Harney</p>
	</footer>
</body>
</html>
