
{% extends "formtemplate.html" %}
{% block title %}Lecturer App{% endblock %}
{% block action %} action="" method="post" {% endblock %}
{% block form %}
    <div id="message"></div>
    <label>Campus:</label>
    <select id="campus" name="campus" onchange="BuildingDDL()"></select>
    <br>
    <label>Building:</label>
    <select id="building" name="building" onchange="roomDDL()"></select>
    <br>
    <label>Room:</label>
    <select id="room" name="room" ></select>
    <br>

    <label>Day:</label>
    <select id="day" name="day" >
        <option value="0" id = "mon">Monday</option>
        <option value="1" id = "tue">Tuesday</option>
        <option value="2" id = "wed">Wednesday</option>
        <option value="3" id = "thu">Thursday</option>            
        <option value="4" id = "fri">Friday</option>
    </select>
    <br>

    <label>Time:</label>
    <select id="time" name="time" >
        <option value="09:00:00" id = "9">09:00 - 10:00</option>
        <option value="10:00:00" id = "10">10:00 - 11:00</option>
        <option value="11:00:00" id = "11">11:00 - 12:00</option>
        <option value="12:00:00" id = "12">12:00 - 13:00</option>            
        <option value="13:00:00" id = "13">13:00 - 14:00</option>
        <option value="14:00:00" id = "14">14:00 - 15:00</option>            
        <option value="15:00:00" id = "15">15:00 - 16:00</option>           
        <option value="16:00:00" id = "16">16:00 - 17:00</option>
    </select>
    <br>

    <label>Occupancy:</label>
    <br>
    <input type="radio" class="percent" name="percent" value="0" checked> 0%
    <input type="radio" name="percent" value=".25"> 25%
    <input type="radio" name="percent" value=".50" checked> 50%
    <input type="radio" name="percent" value=".75"> 75%
    <input type="radio" name="percent" value="1"> 100%
    <br>
    <input type="submit" class="lectBtn" value="Submit">

    
    
<script type="text/javascript" language="javascript">
    function CampusDDL() {
            // show the thank you message
            document.getElementById("message").innerHTML= '<h2>'+message+'</h2>';

        // Build up array of the campuses in the database
        var campus = []
        document.getElementById("room").style.visibility= 'hidden';
        document.getElementById("building").style.visibility= 'hidden';
        for (var i = 0; i < CampusDetails.length; ++i) {
            campus.push(CampusDetails[i].campus);     // Append the element to the end of Array list
        }
        // get just the unque values from the array.
        var uniqueCampuses = campus.filter(function(item, i, ar){ return ar.indexOf(item) === i; });

        // add the campuses to the drop down list
        var dropdown = document.getElementById("campus");
        for (var i = 0; i < uniqueCampuses.length; ++i) {
            dropdown[dropdown.length] = new Option(uniqueCampuses[i], uniqueCampuses[i]);
        }
        BuildingDDL();
        document.getElementById("building").style.visibility= 'visible';   
    }

    //Help gotten from here:
    //http://stackoverflow.com/questions/30316285/populate-dropdown-list-based-on-selection-in-another-dropdown
    function BuildingDDL() {
        
        document.getElementById("room").style.visibility= 'hidden';
        campus=document.getElementById("campus").value;
        
        // Build up array of the building in the campus in the database
        var building = []
        for (var i = 0; i < CampusDetails.length; ++i) {
            if (CampusDetails[i].campus == campus)
                building.push(CampusDetails[i].building);     // Append the element to the end of Array list
        }
        // get just the unque values from the array.
        var uniquebuildings = building.filter(function(item, i, ar){ return ar.indexOf(item) === i; });
        
        // add the campuses to the drop down list
        var dropdown = document.getElementById("building");
        for(var i = dropdown.options.length - 1 ; i >= 0 ; i--){
            dropdown.remove(i);
        } //clear out the drop down box
        for (var i = 0; i < uniquebuildings.length; ++i) {
            dropdown[dropdown.length] = new Option(uniquebuildings[i], uniquebuildings[i]);
        }
        document.getElementById("building").style.visibility= 'visible';
        roomDDL();
    }
    
    function roomDDL() {
        building=document.getElementById("building").value;
        
        // Build up array of the building in the campus in the database
        var rooms = []
        var ids = []
        for (var i = 0; i < CampusDetails.length; ++i) {
             if (CampusDetails[i].building == building){
                rooms.push(CampusDetails[i].room);     // Append the element to the end of Array list
                ids.push(CampusDetails[i].room_id);     // Append the element to the end of Array list
            }
        }
        
        // add the campuses to the drop down list
        var dropdown = document.getElementById("room");
        for(var i = dropdown.options.length - 1 ; i >= 0 ; i--){
            dropdown.remove(i);
        } //clear out the drop down box
        for (var i = 0; i < rooms.length; ++i) {
            dropdown[dropdown.length] = new Option(rooms[i], ids[i]);
        }
        document.getElementById("room").style.visibility= 'visible';
        setDateTime();
    }
    
    function setDateTime(){
        //set the default values for the day and time drop down boxes
        var curTime = new Date();
        
        // set the current day
        var curDay = curTime.getDay();
        switch (curDay){
            case 0:
                document.getElementById("fri").selected = "true";
                break;
            case 1:
                document.getElementById("mon").selected = "true";
                break;
            case 2:
                document.getElementById("tue").selected = "true";
                break;
            case 3:
                document.getElementById("wed").selected = "true";
                break;
            case 4:
                document.getElementById("thu").selected = "true";
                break;
            case 5:
                document.getElementById("fri").selected = "true";
                break;
            case 6:
                document.getElementById("fri").selected = "true";
                break;
        }
        // set the current time slot
        var curHour = curTime.getHours();
        document.getElementById(curHour).selected = "true";
    }
    
    var CampusDetails = {{CampusDetails|tojson}};
    var message = {{message|tojson}};
    CampusDetails = JSON.parse(CampusDetails);
    console.log(CampusDetails);
    window.onload = CampusDDL();
</script>
    
{% endblock %}
