<!--
<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <link rel = "stylesheet" type = "text/css" href="{{url_for('static',filename='wicount.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet"> 
    <title>CSI Building</title>
    <style type="text/css">
        #building{visibility: hidden;}
        #room{visibility: hidden;}
    </style>
</head>
-->
<body>
    {% extends "formtemplate.html" %}
    {% block title %}Lecturer App{% endblock %}
    {% block form %}

        <label>Campus:</label>
        <select id="campus" onchange="BuildingDDL()"></select>
        <br>
        <label>Building:</label>
        <select id="building" onchange="roomDDL()"></select>
        <br>
        <label>Room:</label>
        <select id="room"></select>
        <br>

        <label>Occupancy:</label>
        <br>
        <input type="radio" class="percent" name="percent" value="0" checked> 0%
        <input type="radio" name="percent" value=".25"> 25%
        <input type="radio" name="percent" value=".50" checked> 50%
        <input type="radio" name="percent" value=".75"> 75%
        <input type="radio" name="percent" value="1"> 100%
        <br>
        <input type="submit" class="lectBtn" value="Submit">

 
<script type="text/javascript" language="javascript">
    function CampusDDL() {
        // Build up array of the campuses in the database
        var campus = []
        document.getElementById("room").style.visibility= 'hidden';
        document.getElementById("building").style.visibility= 'hidden';
        for (var i = 0; i < CampusDetails.length; ++i) {
            campus.push(CampusDetails[i].campus);     // Append the element to the end of Array list
        }
        // get just the unque values from the array.
        var uniqueCampuses = campus.filter(function(item, i, ar){ return ar.indexOf(item) === i; });
        
        // add the campuses to the drop down list
        var dropdown = document.getElementById("campus");
        for (var i = 0; i < uniqueCampuses.length; ++i) {
            dropdown[dropdown.length] = new Option(uniqueCampuses[i], uniqueCampuses[i]);
        }
        BuildingDDL();
        document.getElementById("building").style.visibility= 'visible';
    }

    //Help gotten from here:
    //http://stackoverflow.com/questions/30316285/populate-dropdown-list-based-on-selection-in-another-dropdown
    function BuildingDDL() {
        
        document.getElementById("room").style.visibility= 'hidden';
        campus=document.getElementById("campus").value;
        
        // Build up array of the building in the campus in the database
        var building = []
        for (var i = 0; i < CampusDetails.length; ++i) {
            if (CampusDetails[i].campus == campus)
                building.push(CampusDetails[i].building);     // Append the element to the end of Array list
        }
        // get just the unque values from the array.
        var uniquebuildings = building.filter(function(item, i, ar){ return ar.indexOf(item) === i; });
        
        // add the campuses to the drop down list
        var dropdown = document.getElementById("building");
        for(var i = dropdown.options.length - 1 ; i >= 0 ; i--){
            dropdown.remove(i);
        } //clear out the drop down box
        for (var i = 0; i < uniquebuildings.length; ++i) {
            dropdown[dropdown.length] = new Option(uniquebuildings[i], uniquebuildings[i]);
        }
        document.getElementById("building").style.visibility= 'visible';
        roomDDL();
    }
    
    function roomDDL() {
        building=document.getElementById("building").value;
        
        // Build up array of the building in the campus in the database
        var rooms = []
        var ids = []
        for (var i = 0; i < CampusDetails.length; ++i) {
             if (CampusDetails[i].building == building){
                rooms.push(CampusDetails[i].room);     // Append the element to the end of Array list
                ids.push(CampusDetails[i].room_id);     // Append the element to the end of Array list
            }
        }
        
        // add the campuses to the drop down list
        var dropdown = document.getElementById("room");
        for(var i = dropdown.options.length - 1 ; i >= 0 ; i--){
            dropdown.remove(i);
        } //clear out the drop down box
        for (var i = 0; i < rooms.length; ++i) {
            dropdown[dropdown.length] = new Option(rooms[i], ids[i]);
        }
        document.getElementById("room").style.visibility= 'visible';
    }
    
    function addLecturerData(){
        document.getElementById("lecturer").innerHTML = "<h2>Thank you for making a submission</h2>"
    }
    var CampusDetails = {{CampusDetails|tojson}};
    CampusDetails = JSON.parse(CampusDetails);
    console.log(CampusDetails)
    window.onload = CampusDDL();
</script>
    
        {% endblock %}
</body>
<!--</html>-->