<!DOCTYPE html>
<html>
<head> 
<meta charset="UTF-8">
<link rel = "stylesheet" type = "text/css" href="{{url_for('static',filename='wicount.css')}}">
<title>WiCount | App</title>    
</head>   
        
<body>
<header class="header">
    <img class="logo" src="{{url_for('static',filename='logo.jpg')}}" alt="logo"/><br><br> 
</header>
<div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
<p></p>
<footer>
    <p id="footer">WiCount | Team 9 | Brendan Dwyer | Rakesh Lakshman | Velda Conaty | Patrick Harney</p>
</footer>
</body>    
 
</html>