{% extends "nomenutemplate.html" %}

{% block title %}Wicount | Login{% endblock %}

{% block body %}
	{% if session['logged_in'] %}
		<p>You're logged in already!</p>
	{% else %}
	<form class="LecturerApp" action="/login" method="POST">
    	<img class="count" src="{{url_for('static',filename='count2.png')}}" alt="count"/><br>
        <label>UserName: &nbsp;</label>
        <input type="text" class="login-field" value="" placeholder="Enter User Name" name="username"><br><br>
		<label>Password: &nbsp;</label>		
        <input type="password" class="login-field" value="" placeholder="*********" name="password"><br><br>
        <label>Role: &nbsp;</label>
    	<select id="role" name="role">
			<option value="lecturer">Lecturer</option>
        	<option value="admin">Admin</option>
        	<option value="enduser">End User</option>
 		</select><br><br>	
        <input type="submit" value="Log in" class="lectBtn" ><br><br>
        <strong>
        {% with messages = get_flashed_messages() %}
        	{% if messages %}
               {% for message in messages %}
               		{{ message }}
               {% endfor %}
         	{% endif %}
      	{% endwith %}
      	</strong>
	</form>
	{% endif %}
{% endblock %}
