<!-- This page is used to display the statistics -->

{% extends "jinjatemplate.html" %}

{% block title %}Wicount | Statistics{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

{% endblock %}

{% block body %}
<form class="formStyleStatistics" action="/statistics" method="GET">
    <select id="category" name="category" value="category">
    	<option value="">Select Question</option>
 		<option value="ques1">Overall Report</option>
  		<option value="ques2">Percentage Utilisation per room</option>
  		<option value="ques3">List of empty rooms</option>
  		<option value="ques4">List of full rooms</option>
  		<option value="ques5">Occupancy greater than X</option>
  		<option value="ques6">Occupancy lesser than X</option>
	</select>
	<input type="number" id="number" name="number"><br><br>
    <input type="submit" class="submitButton" value="Submit">
</form>


<script type="text/javascript">

   $(document).ready(function() {
      var queryString = window.location.href.slice(window.location.href.indexOf('='));
        queryString = queryString.slice(1, queryString.indexOf('&'))
        queryS = queryString.slice(-1)
        
      $("#category > option").each(function() {
        if (this.value == queryString) {
          this.selected = 'selected';
        }
      });

        if(queryString == "ques1"){
        	$("#edit").click(function(event){
        		   event.preventDefault();
        		   $('.inputDisabled').prop("disabled", false); // Element(s) are now enabled.
        		});
        	  document.getElementById("p1").innerHTML = "Overall Report";
              question1();
          }
        else if(queryString == "ques2"){
        	document.getElementById("p1").innerHTML = "Utilisation per room";
              question2();
          }
        
        else if(queryString == "ques3"){
        	document.getElementById("p1").innerHTML = "List of Empty rooms";
              question3();
          }
        
        else if(queryString == "ques4"){
        	document.getElementById("p1").innerHTML = "List of Full rooms";
              question4();
          }
        
        else if(queryString == "ques5"){
        	$("input").prop('disabled', false);
        	document.getElementById("p1").innerHTML = "List of rooms";
              question5();
          }
        
        else if(queryString == "ques6"){
        	$("input").prop('disabled', false);
        	document.getElementById("p1").innerHTML = "List of rooms";
              question6();
          }
    });
    google.charts.load('current', {'packages':['table','corechart']});
    
    function question1() {
        var question1 = {{question1|tojson}};
        question1 = JSON.parse(question1);

        google.charts.setOnLoadCallback(drawChart1);
        function drawChart1() {
        	var data = new google.visualization.DataTable();
           	data.addColumn('string', 'Room');
            data.addColumn('number', 'Frequency');
            data.addColumn('number', 'Occupancy');
            data.addColumn('number', 'Utilization');
         	var f,n,x,y;
            for(var i = 0 ; i<question1.length;i++){
            	f = question1[i].Room
            	n = question1[i].frequency
            	x = question1[i].occupancy
            	y = question1[i].Utilisation
            	data.addRows([[f,n,x,y]])
            }

            var table = new google.visualization.Table(document.getElementById('q1Div'));
            table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
        }
    }
    function question2() {
        var occupancy = {{question2|tojson}};
        occupancy = JSON.parse(occupancy);
        var counter = 0;    // variable to hold where we are in the loop for the drawOccupancyChart
        var buildTableHtml = ""
        
        buildTableHtml = '<table class="columns"><tr>'
        for (var i=0; i<occupancy.length;i++){
            //show three charts per line
            if (i % 3 == 0){ 
                buildTableHtml += '<tr></tr>'
            }
            buildTableHtml += '<td><div id="' + occupancy[i].name +'" style="border: 1px solid #ccc"></div></td>'
         
        }
        buildTableHtml += '</tr></table>'
        document.getElementById("q2Div").innerHTML = buildTableHtml
        console.log(buildTableHtml)
        
        //draw a chart for each room
        for (var i=0; i<occupancy.length;i++){
            
            console.log("3 ", occupancy[i]);
            google.charts.setOnLoadCallback(drawOccupancyChart);
        }
        function drawOccupancyChart() {
            var i = counter;
            console.log(occupancy[i].name);
            console.log("counter: ", counter);
            counter += 1
            var data = new google.visualization.DataTable();
            var room = occupancy[i].name;
            data.addColumn('string', 'Occupancy');
            data.addColumn('number', 'Count');
            data.addRows([
              ['Low', occupancy[i].Low],
              ['Medium', occupancy[i].Med],
              ['High', occupancy[i].High]
            ]);

        
            var options = {title:"Utilisation of " + room,
                          legend: 'bottom',
                          'width':290,
                          'height':300};

      
            var chart = new google.visualization.PieChart(document.getElementById(room));
            chart.draw(data, options);
        }
    }
    function question3() {
        var question3 = {{question3|tojson}};
        question3 = JSON.parse(question3);
        google.charts.setOnLoadCallback(drawChart3);
        function drawChart3() {
            var data = new google.visualization.DataTable();
           	data.addColumn('string', 'Room');
            data.addColumn('string', 'Date');
            data.addColumn('string', 'Time');

         	var x,y,z,a,b;
            for(var i = 0 ; i<question3.length;i++){
            	x = question3[i].Room
            	y = question3[i].date
            	z = y.split(" ");
            	a = z[0];
            	b = z[1];
            	data.addRows([[x,a,b]])
            }
            var table = new google.visualization.Table(document.getElementById('q3Div'));
            table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
        }
    }
    
    function question4() {
        var question4 = {{question4|tojson}};
        question4 = JSON.parse(question4);
        google.charts.setOnLoadCallback(drawChart3);
        function drawChart3() {
        	var data = new google.visualization.DataTable();
        	data.addColumn('string', 'Room');
        	data.addColumn('string', 'Date');
        	data.addColumn('string', 'Time');

         	var x,y,z,a,b;
            for(var i = 0 ; i<question4.length;i++){
            	x = question4[i].Room
            	y = question4[i].date
            	z = y.split(" ");
            	a = z[0];
            	b = z[1];
            	data.addRows([[x,a,b]])
            }
            var table = new google.visualization.Table(document.getElementById('q4Div'));
            table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
        }
    }

    
    
    
    function question5() {
        var question5 = {{question5|tojson}};
        question5 = JSON.parse(question5);
        google.charts.setOnLoadCallback(drawChart5);
        function drawChart5() {

            	var data = new google.visualization.DataTable();
            	data.addColumn('string', 'Room');
            	data.addColumn('string', 'Date');
            	data.addColumn('string', 'Time');
            	data.addColumn('number', 'Occupancy');
            	
             	var x,y,z,a,b,m;
                for(var i = 0 ; i<question5.length;i++){
                	x = question5[i].Room
                	y = question5[i].date
                	m = question5[i].occupancy
                	z = y.split(" ");
                	a = z[0];
                	b = z[1];
                	data.addRows([[x,a,b,m]])
                }
                var table = new google.visualization.Table(document.getElementById('q5Div'));
                table.draw(data, {showRowNumber: true, width: '100%', height: '100%'})
        }
    }
    function question6() {
        var question6 = {{question6|tojson}};
        question6 = JSON.parse(question6);
        google.charts.setOnLoadCallback(drawChart6);

        function drawChart6() {
        	var data = new google.visualization.DataTable();
        	data.addColumn('string', 'Room');
        	data.addColumn('string', 'Date');
        	data.addColumn('string', 'Time');
        	data.addColumn('number', 'Occupancy');
        	

         	var x,y,z,a,b,m;
            for(var i = 0 ; i<question6.length;i++){
            	x = question6[i].Room
            	y = question6[i].date
            	m = question6[i].occupancy
            	z = y.split(" ");
            	a = z[0];
            	b = z[1];
            	data.addRows([[x,a,b,m]])
            }
            var table = new google.visualization.Table(document.getElementById('q6Div'));
            table.draw(data, {showRowNumber: true, width: '100%', height: '100%'})
        }
    }
</script>

<p id="p1"></p>
<div id="q1Div"></div>
<p id="p2"></p>
<div id="q2Div"></div>
<p id="p3"></p>
<div id="q3Div"></div>
<p id="p4"></p>
<div id="q4Div"></div>
<p id="p5"></p>
<div id="q5Div"></div>
<p id="p6"></p>
<div id="q6Div"></div>
{% endblock %}