{% extends "jinjatemplate.html" %}
{% block title %}Room Stats{% endblock %}
{% block scripts %}
    <script src="http://d3js.org/d3.v3.js"></script>
{% endblock %}
{% block body %}
<table>
    <tr>
        <td>
<!--
            <div id="option">
                <input name="updateButton" 
                       type="button" 
                       value="Update" 
                       onclick="updateData()" 
                />
            </div>
-->
            <div id="chart"></div>
            <div id="dataset-picker"></div>
        </td>
        <td>
            <form action="{{url_for('statsForRoom')}}" method="GET">
                <div id="message"></div>
                <label>Room:</label>
                <select id="room" name="room_id"></select>

                <input type="submit" class="lectBtn" value="Go">
            </form>
            <label>Legend</label>
            <table>
                <tr>
                    <td></td><td>0%</td>
                    <td></td><td>25%</td>
                    <td></td><td>50%</td>
                    <td></td><td>75%</td>
                    <td></td><td>100%</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<script type="text/javascript" language="javascript">
    
    function roomDDL() {
        var rooms = []
        var ids = []
        for (var i = 0; i < BuildingDetails.length; ++i) {
            rooms.push(BuildingDetails[i].room);     // Append the element to the end of Array list
            ids.push(BuildingDetails[i].room_id);     // Append the element to the end of Array list
        }//end for
        
        // add the campuses to the drop down list
        var dropdown = document.getElementById("room");
        for(var i = dropdown.options.length - 1 ; i >= 0 ; i--){
            dropdown.remove(i);
        } //clear out the drop down box
        for (var i = 0; i < rooms.length; ++i) {
            dropdown[dropdown.length] = new Option(rooms[i], ids[i])
            if (ids[i] == room_id){
                dropdown.selectedIndex = i
            }// end if
        }// end for
    };// end function

    var BuildingDetails = {{BuildingDetails|tojson}};
    var room_id = {{room_id|tojson}};
    var surveyData = {{surveyData|tojson}};

    BuildingDetails = JSON.parse(BuildingDetails);
    surveyData = JSON.parse(surveyData);

    var week1 = surveyData[0];
    var week2 = surveyData[1];
    
    window.onload = roomDDL();
    
//    -------------------------------------------------------------
//    |                   code for data visualisation             |
//    -------------------------------------------------------------
//    used code from http://bl.ocks.org/tjdecke/5558084 as a template
    var margin = { top: 50, right: 0, bottom: 100, left: 30 },
          width = 600 - margin.left - margin.right,
          height = 400 - margin.top - margin.bottom,
          gridSize = Math.floor(width / 8), //was 24
          legendElementWidth = gridSize*1.5,
          buckets = 5,
          colors = ["#ffffd9","#c7e9b4","#41b6c4","#225ea8","#081d58"], // alternatively colorbrewer.YlGnBu[9]
          days = ["Mon", "Tue", "Wed", "Thu", "Fri"],
          times = ["09:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00"];
          datasets = [week1, week2],
          datasetName = ["Week 1", "Week 2"]
          colorLow = '#ffffd9', 
          colorMed = '#41b6c4', 
          colorHigh = '#081d58';
         
console.log("margin: ",margin)
    
      var svg = d3.select("#chart").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
console.log("svg: ",svg[0])

// This sets up the labels for the days
      var dayLabels = svg.selectAll(".dayLabel")
          .data(days)
          .enter().append("text")
            .text(function (d) { return d; })
            .attr("x", 0)
            .attr("y", function (d, i) { return i * gridSize; })
            .style("text-anchor", "end")
            .attr("transform", "translate(-6," + gridSize / 1.5 + ")")
            .attr("class", function (d, i) { return ((i >= 0 && i <= 4) ? "dayLabel mono axis axis-workweek" : "dayLabel mono axis"); });
console.log("dayLabels: ",dayLabels[0])

// This sets up the lables for the times across the top
      var timeLabels = svg.selectAll(".timeLabel")
          .data(times)
          .enter().append("text")
            .text(function(d) { return d; })
            .attr("x", function(d, i) { return i * gridSize; })
            .attr("y", 0)
            .style("text-anchor", "middle")
            .attr("transform", "translate(" + gridSize / 2 + ", -6)")
            .attr("class", function(d, i) { return ((i >= 7 && i <= 16) ? "timeLabel mono axis axis-worktime" : "timeLabel mono axis"); });
console.log("timeLabels: ",timeLabels)
           
        var heatmapChart = function(Weekdata) {
       // d3.tsv(tsvFile,
            console.log(Weekdata)
        function(d) {
          return {
            day: +d.day,
            hour: +d.hour,
            value: +d.percent
          };
        },
       // function(error, data) {
          var colorScale = d3.scale.quantile()
              .domain([0, buckets - 1, d3.max(data, function (d) { return d.percent; })])
              .range(colors);

          var cards = svg.selectAll(".hour")
              //.data(data, function(d) {return d.day+':'+d.hour;}
              .data(data, function(d) {
                   for (var i = 0; i<times.length; i++){
                        if (d.hour == times[i]){
                            var thisHour = i; }
                        }
                    for (var i = 0; i<days.length; i++){
                        if (d.day == days[i]){
                            var thisDay = i; 
                            return thisHour + ':' + i;  }
                        }
              });

          cards.append("title");

          cards.enter().append("rect")
//              .attr("x", function(d) { return (d.hour - 1) * gridSize; })
//              .attr("y", function(d) { return (d.day - 1) * gridSize; })
              .attr("x", function(d) { 
                        if (d.hour == times[i]){
                            return i * gridSize;; }
                        })
              .attr("y", function(d) { 
                        for (var i = 0; i<days.length; i++){
                            if (d.day == days[i]){
                                return i * gridSize;}
                            }
                        })
              .attr("rx", 4)
              .attr("ry", 4)
              .attr("class", "hour bordered")
              .attr("width", gridSize)
              .attr("height", gridSize)
              .style("fill", colors[0]);

          cards.transition().duration(1000)
              .style("fill", function(d) { return colorScale(d.percent); });

          cards.select("title").text(function(d) { return d.percent; });
          
          cards.exit().remove();

          var legend = svg.selectAll(".legend")
              .data([0].concat(colorScale.quantiles()), function(d) { return d; });

          legend.enter().append("g")
              .attr("class", "legend");

          legend.append("rect")
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height)
            .attr("width", legendElementWidth)
            .attr("height", gridSize / 2)
            .style("fill", function(d, i) { return colors[i]; });

          legend.append("text")
            .attr("class", "mono")
            .text(function(d) { return "≥ " + Math.round(d); })
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height + gridSize);

          legend.exit().remove();

        //});  
      };

      heatmapChart(datasets[0]);
      
      var datasetpicker = d3.select("#dataset-picker").selectAll(".dataset-button")
        .data(datasets);

      datasetpicker.enter()
        .append("input")
        .attr("value", function(d){ return "Week " + d[0].week })
        .attr("type", "button")
        .attr("class", "dataset-button")
        .on("click", function(d) {
          heatmapChart(d);
        });
console.log("datasetName: ",datasetName);
console.log("datasetpicker: ",datasetpicker);
</script>
{% endblock %}