{% extends "jinjatemplate.html" %}

{% block title %}Wicount | Room Statistics{% endblock %}

{% block scripts %}
    <script src="http://d3js.org/d3.v3.js"></script>
{% endblock %}
{% block body %}
    <div id="mapmargin">
        <div class="statsmargin" >
            <div id="chart"></div>
            <div id="legend">
<!--                <p>LEGEND:</p>-->
                <table class="legendTable">
                    <tr>
                        <td style="text-align: left;">0%</td>
                        <td style="text-align: center;">50%</td>
                        <td style="text-align: right;">100%</td>
                    </tr>
                </table>
            </div>
<!--            <div id="dataset-picker"></div>-->
        </div>
        <div class="buildingplan1" >

            <form action="{{url_for('statsForRoom')}}" method="GET">
                <div id="message"></div>
                <label>Room:</label>
                <select id="room" name="room_id"></select>
                <br>
                <input type="submit" class="lectBtn" value="Go">
            </form>
            <div id="dataset-picker"></div>
            <br>
        </div>
    </div>

<script type="text/javascript" language="javascript">
    
    function roomDDL() {
        var rooms = []
        var ids = []
        for (var i = 0; i < BuildingDetails.length; ++i) {
            rooms.push(BuildingDetails[i].room);     // Append the element to the end of Array list
            ids.push(BuildingDetails[i].room_id);     // Append the element to the end of Array list
        }//end for
        
        // add the campuses to the drop down list
        var dropdown = document.getElementById("room");
        for(var i = dropdown.options.length - 1 ; i >= 0 ; i--){
            dropdown.remove(i);
        } //clear out the drop down box
        for (var i = 0; i < rooms.length; ++i) {
            dropdown[dropdown.length] = new Option(rooms[i], ids[i])
            if (ids[i] == room_id){
                dropdown.selectedIndex = i
            }// end if
        }// end for
    };// end function

    var BuildingDetails = {{BuildingDetails|tojson}};
    var room_id = {{room_id|tojson}};
    var surveyData = {{surveyData|tojson}};

    BuildingDetails = JSON.parse(BuildingDetails);
    surveyData = JSON.parse(surveyData);

    var week1 = surveyData[0];
    var week2 = surveyData[1];
    
    window.onload = roomDDL();
    
//    -------------------------------------------------------------
//    |                   code for data visualisation             |
//    -------------------------------------------------------------
//    used code from http://bl.ocks.org/tjdecke/5558084 as a template
    //var margin = { top: 50, right: 0, bottom: 100, left: 30 },
    var margin = { top: 25, right: 0, bottom: 100, left: 40 },
          width = 600 - margin.left - margin.right,
          height = 380 - margin.top - margin.bottom,
          gridSize = Math.floor(width / 8), //was 24
         // legendElementWidth = gridSize*1.5,
          buckets = 5,
          colors = ["#ffffd9","#c7e9b4","#41b6c4","#225ea8","#081d58"], // alternatively colorbrewer.YlGnBu[9]
          days = ["Mon", "Tue", "Wed", "Thu", "Fri"],
          times = ["09:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00"];
          datasets = [week1, week2],
          datasetName = ["Week 1", "Week 2"]
          colorLow = '#ffffd9', 
          colorMed = '#41b6c4', 
          colorHigh = '#081d58';
         
console.log("margin: ",margin)
    
      var svg = d3.select("#chart").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
console.log("svg: ",svg[0])

    
// This sets up the labels for the days
      var dayLabels = svg.selectAll(".dayLabel")
          .data(days)
          .enter().append("text")
            .text(function (d) { return d; })
            .attr("x", 0)
            .attr("y", function (d, i) { return i * gridSize; })
            .style("text-anchor", "end")
            .attr("transform", "translate(-6," + gridSize / 1.5 + ")")
            .attr("class", function (d, i) { return ((i >= 0 && i <= 4) ? "dayLabel mono axis axis-workweek" : "dayLabel mono axis"); });
console.log("dayLabels: ",dayLabels[0])

// This sets up the lables for the times across the top
      var timeLabels = svg.selectAll(".timeLabel")
          .data(times)
          .enter().append("text")
            .text(function(d) { return d; })
            .attr("x", function(d, i) { return i * gridSize; })
            .attr("y", 0)
            .style("text-anchor", "middle")
            .attr("transform", "translate(" + gridSize / 2 + ", -6)")
            .attr("class", function(d, i) { return ((i >= 7 && i <= 16) ? "timeLabel mono axis axis-worktime" : "timeLabel mono axis"); });
console.log("timeLabels: ",timeLabels)
           
        function heatmapChart(dataset) {

          var colorScale = d3.scale.linear()
                 .domain([0, .5, 1])
                 .range([colorLow, colorMed, colorHigh]);
            
          var cards = svg.selectAll(".hour")
              .data(dataset, function(d) {
                  console.log("times.lenght: ", times)
                  for (var i = 0; i<times.length; i++){
                        if (d.hour == times[i]){
                            var thisHour = i; }
                        }
                    for (var i = 0; i<days.length; i++){
                        if (d.day == days[i]){
                            var thisDay = i; 
                            return thisHour + ':' + i;  }
                        }
                });

          cards.append("title");

          cards.enter().append("rect")
              .attr("x", function(d) { 
                        for (var i = 0; i<times.length; i++){
                            if (d.hour == times[i]){
                                return i * gridSize;}
                            }
                        })
              .attr("y", function(d) { 
                        for (var i = 0; i<days.length; i++){
                            if (d.day == days[i]){
                                return i * gridSize;}
                            }
                        })
              .attr("rx", 4)
              .attr("ry", 4)
              .attr("class", "bordered")
              .attr("width", gridSize)
              .attr("height", gridSize)
              .style("fill", colors[0]);

          cards.transition().duration(1000)
              .style("fill", function(d) { return colorScale(d.percent); });

          cards.select("title").text(function(d) { return d.percent; });
          
          cards.exit().remove();

    
// create a ledgend

var svg2 = d3.select("#legend").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", 30)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + 0 + ")");


//Append a defs (for definition) element to your SVG
var defs = svg2.append("defs");

//Append a linearGradient element to the defs and give it a unique id
var linearGradient = defs.append("linearGradient")
    .attr("id", "linear-gradient");

linearGradient
    .attr("x1", "0%")
    .attr("y1", "0%")
    .attr("x2", "100%")
    .attr("y2", "0%");
            
//Append multiple color stops by using D3's data/enter step
linearGradient.selectAll("stop") 
    .data( colorScale.range() )                  
    .enter().append("stop")
    .attr("offset", function(d,i) { return i/(colorScale.range().length-1); })
    .attr("stop-color", function(d) { return d; });

//Draw the rectangle and fill with gradient
svg2.append("rect")
	.attr("width", width-50)
	.attr("height", 20)
	.style("fill", "url(#linear-gradient)");

        }; 

      heatmapChart(datasets[0]);
      
      var datasetpicker = d3.select("#dataset-picker").selectAll(".dataset-button")
        .data(datasets);

      datasetpicker.enter()
        .append("input")
        .attr("value", function(d){ return "Week " + d[0].week })
        .attr("type", "button")
        .attr("class", "statsButtons")
        .on("click", function(d) {
          heatmapChart(d);
        });

console.log("datasetName: ",datasetName);
console.log("datasetpicker: ",datasetpicker);
</script>
{% endblock %}