<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CSI Building</title>
<!--http://www.jqueryscript.net/other/Simple-jQuery-Plugin-For-Highlighting-Image-Map-Maphilight.html-->
<!--    got help here  -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>
<body>
    {% extends "jinjatemplate.html" %}
    {% block body %}
    
<!--        Put your code in here don't forget to change the title of the page -->

    {% endblock %}
</body>
</html>